<!-- partial -->
<div class="content-wrapper">
  <div class=" ">
    <div class="pb-0">

      <!-- first row starts here -->

      <div class="row">
        <div class="header-right d-flex  mt-md-2 mt-lg-0 w-100">
          <div class="d-flex align-items-center">
            <a href="#">
              <p class="m-0 pe-3"> Process Override</p>
            </a>
            <a class="ps-3 me-4" href="#">
              <p class="m-0"> Suppliers At Risk </p>
            </a>
          </div>
          <!-- <div class="float-right" style="flex-direction: row-reverse;">
                <button type="button" class=" btn btn-primary mt-2 mt-sm-0 btn-icon-text">
                  <i class="mdi mdi-plus-circle"></i> Add Prodcut </button>
              </div> -->
        </div>
      </div>

      <div class="col-lg-12 grid-margin stretch-card mt-3">
        <div class="card">
          <div class="card-body">


            <div class="clearfix"></div>
            <div class="product-filters">

              <div class="card">
                <div class="card-body">

                  <form [formGroup]="supplierForm" (ngSubmit)="onSupplierSubmit()">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <mat-form-field class="pt-2">
                            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date"
                              [min]="minDate" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <!-- <label for="exampleFormControlSelect1">Store Name</label>
                          <select class="form-control form-control-sm" id="exampleFormControlSelect1"
                            formControlName="StoreName">
                            <option *ngFor="let store of storeNameList" [value]="store.store_name">{{store.store_name}}
                            </option>
                          </select> -->
                          <mat-form-field>
                            <mat-label>Store Name</mat-label>
                            <input type="text" matInput [formControl]="storename" [(ngModel)]="storenamefield" [matAutocomplete]="auto1">
                            <mat-autocomplete #auto1="matAutocomplete">
                              <mat-option *ngFor="let store of storeNameList | async" [value]="store.store_name">
                                {{store.store_name}}
                              </mat-option>
                            </mat-autocomplete>
                            
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <!-- <label for="exampleFormControlSelect2">Product Categories</label>
                          <select class="form-control form-control-sm" formControlName="CategoryName"
                            (change)="getSubCategorysList()">
                            <option *ngFor="let category of categoryNameList" [value]="category.prod_cat">
                              {{category.prod_cat}}</option>
                          </select> -->
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Product Categories</mat-label>
                            <input type="text" matInput [formControl]="categoryname" [(ngModel)]="categorynamefield"  [matAutocomplete]="auto3">
                            <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="getSubCategorysList()">
                              <mat-option *ngFor="let category of categoryList | async" [value]="category.prod_cat">
                                {{category.prod_cat}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="exampleFormControlSelect2">Sub Categories</label>
                          <select class="form-control form-control-sm" formControlName="SubcategoryName">
                            <option *ngFor="let subProduct of subCategoryNameList" [value]="subProduct.prod_subcat">
                              {{subProduct.prod_subcat}}</option>
                          </select>
                        </div>
                      </div>




                      <div class="col-md-3">
                        <div class="form-group">
                          <!-- <label for="exampleFormControlSelect3">Product Name</label>
                          <select class="form-control form-control-sm" formControlName="ProductName">
                            <option *ngFor="let product of productNameList" [value]="product.prod_name">
                              {{product.prod_name}}</option>
                          </select> -->
                          <mat-form-field>
                            <mat-label>Product Name</mat-label>
                            <input type="text" matInput [formControl]="productname" [(ngModel)]="productnamefield" [matAutocomplete]="auto2">
                           
                            <mat-autocomplete #auto2="matAutocomplete">
                              <mat-option *ngFor="let products of productNameList | async" [value]="products.prod_name">
                                {{products.prod_name}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                      </div>


                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="exampleFormControlSelect3"> SKU Code</label>
                          <input type="text" class="form-control form-control-sm" placeholder="SKU Code"
                            aria-label="Username" placeholder="SKU_CODE" formControlName='SKU_CODE' />
                        </div>
                      </div>


                      <div class="col-md-3">
                        <br>
                        <button type="submit" class=" btn btn-sm btn-success mt-2 mt-sm-0 btn-icon-text">
                          <i class="mdi mdi-checkbox-marked-circle-outline"></i> Filter </button>
                        <button type="button" class=" btn btn-sm btn-success mt-2 mt-sm-0 btn-icon-text"
                          style="margin-left: 15px ;" (click)="onClear()">
                          <i class="mdi mdi-checkbox-marked-circle-outline"></i> Clear </button>
                      </div>

                    </div>
                  </form>
                </div>
              </div>


            </div>

            <div class="filter-table-data mt-3">
              <div class="table-responsive table-stripe">
                <table mat-table [dataSource]="supplierData" *ngIf="!!supplierData" matSort
                  class="mat-datagrid w-100 table-bordered">

                  <ng-container matColumnDef="Time_key">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                      <label mat-sort-header>
                        Date
                      </label>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.Time_key | date: 'dd/MM/yyyy'}} </td>
                  </ng-container>


                  <ng-container matColumnDef="store_name">
                    <th mat-header-cell *matHeaderCellDef style="width: 250px;" scope="col">
                      <label mat-sort-header>
                        Store Name
                      </label>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.store_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="supp_name">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                      <label mat-sort-header>
                        Supplier Name
                      </label>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.supp_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="prod_name">
                    <th mat-header-cell *matHeaderCellDef style="width: 250px;" scope="col">
                      <label mat-sort-header>
                        Product Name
                      </label>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.prod_name}} </td>
                  </ng-container>


                  <ng-container matColumnDef="sku_id">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                      <label mat-sort-header>
                        SKUCode
                      </label>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.sku_id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="prod_cat">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                      <label mat-sort-header>
                        Category Name
                      </label>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.prod_cat}} </td>
                  </ng-container>

                  <ng-container matColumnDef="prod_subcat">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                      <label mat-sort-header>
                        Subcategory Name
                      </label>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.prod_subcat}} </td>
                  </ng-container>



                  <ng-container matColumnDef="lead_time">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                      <label mat-sort-header>
                        Lead Time SLA
                      </label>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.lead_time}} </td>
                  </ng-container>

                  <ng-container matColumnDef="expc_delv_dt">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                      <label mat-sort-header>
                        Last Delivery Expected On
                      </label>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.expc_delv_dt}} </td>
                  </ng-container>



                  <ng-container matColumnDef="tfr_avail">
                    <th mat-header-cell *matHeaderCellDef style="width: 50px;" scope="col">
                      <label>
                        Tfr Avail
                      </label>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <!-- <mat-slide-toggle 
                        [checked]="element.Store_Store_Transferd_Config==1?true:false"></mat-slide-toggle> -->

                      <mat-slide-toggle (change)="onChange(element)" [checked]="element.tfr_avail==1?true:false">
                      </mat-slide-toggle>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
                <mat-paginator [pageSize]="pageSize" [hidden]="!supplierData" [pageSizeOptions]="[10, 25, 50]"
                  aria-label="Select page">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>